<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead>
      <tr>
        <th>Page or View</th>
        <th>Path</th>
        <th>Description</th>
        <th>Test Name</th>
        <th>Computer Name</th>
        <th>Duration</th>
        <th>Start Time</th>
        <th>Outcome</th>
        <th>Message</th>
      </tr>
		</thead>
		<tbody id="resultsTable">
		</tbody>
	</table>
</div>
<script src="/public/scripts/live-results.js"></script>