<div>
	<h2 class="h3">Live Results Summary</h2>
  <canvas id="chart-area" class="chartjs-render-monitor" style="display: block; max-height: 600px; max-width: 600px;"></canvas>
	<p>Total: <span id="liveTotal"></span> | Passed: <span id="livePassed" style="color: green"></span> | Failed: <span id="liveFailed" style="color: red"></span></p>
  <p>Total Duration: <span id="duration"></span></p>
</div>
<script src="/public/scripts/live-results-summary.js"></script>