<span>
  <p>Total: <span id="latestTotal"></span> | Passed: <span id="latestPassed" style="color: green"></span> | Failed: <span id="latestFailed" style="color: red"></span></p>
  <p>Total Duration: <span id="duration"></span></p>
</span>