<div id="results" class="table-responsive">
  <div>
    <input class="search form-control"  placeholder="Search" />
    <p style="margin-top: 6px;"><small>Click a table header to sort.</small></p>
  </div>
	<table id="results" class="table table-sm table-hover">
		<thead class="thead-light">
      <tr>
        <th class="sort" data-sort="configuration">Configuration</th>
        <th class="sort" data-sort="pageView">Page or View</th>
        <th class="sort" data-sort="path">Path</th>
        <th class="sort" data-sort="description">Description</th>
        <th class="sort" data-sort="testName">Test Name</th>
        <th class="sort" data-sort="computerName">Computer Name</th>
        <th class="sort" data-sort="duration">Duration</th>
        <th class="sort" data-sort="startTime">Start Time</th>
        <th class="sort" data-sort="outcome">Outcome</th>
        <th class="sort" data-sort="message">Message</th>
      </tr>
		</thead>
		<tbody id="resultsTable" class="list">
		</tbody>
	</table>
</div>
<style>
  .table .thead-light th:hover {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}
</style>