<form id="uploadForm" onsubmit="return submitUploadForm()" enctype="multipart/form-data">
	<div class="form-group">
		<label for="formControlFile">Select Results File</label>
		<input type="file" class="form-control-file" id="formControlFile" name="file" required>
	</div>
  <button id="buttonSubmit" class="btn btn-lg btn-primary" type="submit">Upload</button>
</form>
<script src="../public/scripts/upload-results.js"></script>