<!-- HTML meta tags-->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Test Parser</title>
      
    <!-- Open Graph Markup -->
    <meta name="author" property="og:author" content="Timothy Cope">
    <meta name="description" property="og:description" content="A cloud based test result logging and parsing service. Export, Compare, Filter, Search, Search, and Upload.">
    <meta property="og:image" content="/public/images/preview-01.png" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Test Parser" />
    <meta property="og:type" content="website" />

    <!-- Bootstrap core CSS -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">

		<!-- Script - JQuery -->
		<script src="<%= static_path + "/jquery/jquery-3.3.1.min.js" %>" type="text/javascript"></script>

		<!-- Script  - Bootstrap core JS -->
		<script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>" type="text/javascript"></script>