<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Test Parser</title>
		<!-- Bootstrap core CSS -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/product.css" %>" rel="stylesheet">
	</head>
	<body>
		<!-- Nav-Top -->
		<nav class="site-header sticky-top py-1">
		  <div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="py-2" href="#">
			  <span style="margin-left: auto;margin-right: auto;color: rgb(255, 255, 255);border-radius: 25%;background-color: rgb(86, 61, 124);padding-left: 2px;padding-right: 2px;"> TP </span>
			</a>
			<a class="py-2 d-none d-md-inline-block" href="/app/login">Login</a>
		  </div>
		</nav>
		<!-- CTA -->
		<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		  <div class="col-md-5 p-lg-5 mx-auto my-5">
			<h1 class="display-4 font-weight-normal">Test Parser</h1>
			<p class="lead font-weight-normal">A cloud based test logging and parsing service.</p>
			<a class="btn btn-outline-secondary" href="mailto:Inquiries@TimothyCope.com?subject=Early%20Access%20Request&body=Please grant me access to TestParser">Request Early Access</a>
		  </div>
		</div>
		<!-- Content -->
		<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		  <!-- Tile: 1 -->
		  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
			<div class="my-3 py-3">
			  <h2 class="display-5">Web API</h2>
			  <p class="lead">The API allows you to send test results, securely.</p>
			</div>
		  </div>
		  <!-- Tile: 2 -->
		  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="my-3 p-3">
			  <h2 class="display-5">Web App</h2>
			  <p class="lead">Manage and view results in parsed tables and charts.</p>
			</div>
		  </div>
		</div>
		<!-- Footer -->
		<footer class="container py-5">
		  <div class="row">
			<div class="col-12 col-md">
			  <span style="margin-left: auto;margin-right: auto;color: rgb(255, 255, 255);border-radius: 25rem;background-color: rgb(86, 61, 124); padding: .375rem .75rem;"> TestParser </span>
			  <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
			</div>
			<div class="col-6 col-md">
			  <h5>Features</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">Coming Soon</a></li>
			  </ul>
			</div>
			<div class="col-6 col-md">
			  <h5>Resources</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="#">API Documentation</a></li>
			  </ul>
			</div>
			<div class="col-6 col-md">
			  <h5>Support</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="//github.com/kirbycope/test-parser/issues">Submit Issue</a></li>
			  </ul>
			</div>
			<div class="col-6 col-md">
			  <h5>About</h5>
			  <ul class="list-unstyled text-small">
				<li><a class="text-muted" href="mailto:Inquiries@TimothyCope.com?subject=TestParser%20Contact">Contact</a></li>
				<li><a class="text-muted" href="#">Privacy</a></li>
				<li><a class="text-muted" href="#">Terms</a></li>
			  </ul>
			</div>
		  </div>
		</footer>
		<script src="/public/scripts/index.js"></script>
	</body>
</html>
