<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- App Header -->
		<%- include ./partials/app-header.ejs %>
	</head>
	<body>
		<%- include ./partials/nav-top.ejs %>
		<div class="container-fluid">
			<%- include ./partials/nav-sidebar.ejs %>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<h1 class="h2">Profile</h1>
				<%- include ./partials/profile.ejs %>
			</main>
		</div>
	</body>
</html>
